<div class="picture-header" style="background-image: url(<%= @flat.picture_url %>)"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-sm-8">
      <div class="flat-box">
        <h1><%= @flat.name %></h1>
        <h3><%= @flat.address %></h3>
      </div>

      <div class="flat-box">
        <h2>A bit more about this flat..</h2>
        <p><%= @flat.description %></p>
        <%= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{@flat.address}&zoom=15&size=500x500&markers=color:red%7Clabel:%7C#{@flat.address}", class: "map") %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="flat-box">
        <h2>Book this place</h2>
        <form>
          <div class="form-group">
            <label class="form-label">From</label>
            <input type="date" class="form-control" id="check-out">
          </div>
          <div class="form-group">
            <label class="form-label">To</label>
            <input type="date" class="form-control" id="check-out">
          </div>
          <button type="submit" class="btn btn-success form-control">Book</button>
        </form>
      </div>

      <div class="flat-box">
        <h2>Details</h2>
        <h3 class="flat-details">
          <div class="flat-guests"><i class="fas fa-users"></i> <%= @flat.number_of_guests %></div>
          <div class="flat-price"><i class="fas fa-euro-sign"></i> <%= @flat.price_per_night %></div>
        </h3>
      </div>
    </div>
  </div>
</div>
